name: build

permissions:
  contents: read
  pages: write
  id-token: write

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  publish:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: quarto-dev/quarto-actions/setup@v2
    - uses: quarto-dev/quarto-actions/render@v2
    - uses: actions/upload-pages-artifact@v4
    - uses: actions/deploy-pages@v4
      id: deployment
