name: build

permissions:
  id-token: write
  pages: write

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: quarto-dev/quarto-actions/setup@v2
    - uses: quarto-dev/quarto-actions/render@v2
    - uses: actions/upload-pages-artifact@v4
    - uses: actions/deploy-pages@v4
