name: build

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: quarto-dev/quarto-actions/setup@v2
    - uses: quarto-dev/quarto-actions/publish@v2
      with:
        target: gh-pages
